<h1>Editing Book</h1>
<%= form_with model: @book do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Body</p>
<%= f.text_area :body %>
<div class= "edit-button"><%= f.submit 'Update book' %></div>
<% end %>

<%= link_to 'Show', book_path(@book.id), method: :get, style: 'color: black' %>|
<%= link_to 'Back', books_path, method: :get, style: 'color: black' %>